site_name: Engine3D
repo_url: https://github.com/engine3d-dev/engine3d
repo_name: engine3d

theme:
  name: material
  logo: assets/logos/engine3DHighResLogo.png
  features:
    - navigation.tabs
    - content.tabs.link
    - toc.integrate
    - navigation.tracking
    - navigation.footer
    # - navigation.expand
    # - navigation.tabs
    # - content.tabs.link
    # - navigation.sections
    # - toc.integrate
    # - navigation.top
    # - search.suggest
    # - search.highlight
    # - content.code.annotation
    # - content.code.copy
  highlightjs: true
  hljs_style:
    - monokai
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline 
        name: Switch to dark mode
      primary: blue grey
      accent: purple
    - scheme: slate 
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode    
      primary: blue grey
      accent: lime

extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/engine3d-dev/Engine3D
      
extra_css:
  - assets/extra.css

docs_dir: docs

plugins:
  - search
  - literate-nav:
      nav_file: summary.md
      tab_length: 2

markdown_extensions:
  - admonition
  - pymdownx.mark # highlighting
  - pymdownx.superfences # nest code
  - codehilite # code syntax coding
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - md_in_html
  - toc:
      permalink:
  # - attr_list
  # - pymdownx.emoji:
  #     emoji_index: !!python/name:material.extensions.emoji.twemoji
  #     emoji_generator: !!python/name:material.extensions.emoji.to_svg

copyright: |
  &copy; 2024 <a href="https://github.com/sfsu-dev" target="_blank" rel="noopener">Aaron</a>
